*{
  margin:0px;
  padding:0px;
}
body{
background:url() no-repeat;
background-size:cover;
}
#container{	
 margin:0 auto;
 width:1080px;
 height:1920px;
 overflow: hidden;  
}
.clear{  
 clear:both; 
}
a{
 text-decoration:none;
 color:black;
}
header  {        
 width: 100%; 
 height:150px; 
 background-color:#75dc9d; 
 position: relative;
}
header #thong_tin_sv  {	
 width:265px; 
 height:150px;
 background-color:#2f8a74; 
 float:left; 
}
header #thong_tin_sv .thongtin  {	
 width:230px; 
 background-color:#c1d092; 
 border-radius:7px; 
 margin:0px 0px 0px 20px; 
}
header #banner  {
 float:left; 
 width:695px;
 height:100px;
 background:url() no-repeat;
 background-size:695px 150px;
}
#sreach{
 width:265px;
 height:40px;
 margin:100px 1300px;
 text-align: center;
}
#banner #sreach input{
 padding:6px 10px;
 border-radius:20px 0px 0px 20px;
 border:2px solid blue;
 outline:none;
 font-size:16px;
 color:black;
 background-color:#e2e6cf;
}
#sreach button {
 border:none;
 position:relative;
 left:-4px;
 top:2px;
 padding:0px;
}
section {	
 width:960px; 
 height:700px; 
 background-color:#d4dea9; 
}
#left{
 float:left; 
 width:150px; 
 height:700px;
}
#left nav  {
 background-color:green; 
 width:150px; height:700px;
 background-color:#69b59c; 
}
#left nav ul li  {
 list-style-type:none;
 border-bottom:1px dotted white; 
}
#left nav ul li a  {
 display:block;padding:8px 36px;
 color:black;font-size:16px;
 transition: all 0.5s;
 -moz-transition: all 0.5s ;
 -webkit-transition:all 0.5s;
}
#left nav ul li a:hover  {
 background-color:#39524a;}
#left nav ul li a:active{
 background-color:#0a2525;
 color:red;
}
#right  {
 float:left;
 background-color: #d6e8ea;
 width:1920px;
 height:700px;
}
#right iframe  {
 border:none;
}
footer   {
 width:100%;
 height:120px;
 background-color:#7fa8ef;
 bottom: 0;
}
.menu a{
 display: inline-block;
 padding: 5px 10px;
 color:hsl(118, 83%, 18%);
 text-decoration: none;
}
.menu a:hover{
 color: #e90b0b;
 background: #fff;
}
.label{
  color: black;
}
.value{
  color: red;
}
#right h2{
  color: blue;
  position: relative;
  top: 10px;
  right: 10px;
  margin: 100px;
}
#options{
  display: none;
  position: absolute;
  top: 100px;
  left: 150px;
  background-color: #f9f9f9;
  border: ipx solid #ddd;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
  z-index: 1000;
}

#options button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#options button:hover {
  background-color: #45a049;
}